<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:glEsVersion="0x00030002" android:required="true" />
    <uses-feature android:name="android.hardware.vr.headtracking" android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:label="@string/app_name"
        android:allowBackup="false"
        android:icon="@mipmap/ic_wivrn_launcher"
        android:roundIcon="@mipmap/ic_wivrn_launcher"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <meta-data android:name="pvr.app.type" android:value="vr" />
        <activity
            android:name="org.meumeu.wivrn.pvr.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation|uiMode">
            <meta-data android:name="android.app.lib_name" android:value="wivrn_pvr" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="wivrn" />
                <data android:scheme="wivrn+tcp" />
            </intent-filter>
        </activity>
    </application>
</manifest>
